* {
	margin: 0;
	padding: 0;
Font-family: Arial,“Microsoft YaHei”, “微软雅黑”, sans-serif;
}

#header {
	background: #f8f8f8;
	height: 100px;
	border-top: 5px solid #D00505;
}
#header_panel {
	width: 960px;
	margin: auto;
}

#resume_name {
	background: none repeat scroll 0 0 #000000;
	font-family: helvetica;
	font-weight: bold;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: auto;
	text-align: center;
	margin-top: 5px;
	padding-top: 5px;
}
#resume_name span {
	color: #FFFFFF;
	display: block;
	margin: 0 10px;
}

.top_menu {
	float: right;
}
.top_menu ul li {
	float: left;
	display: block;
	background: #000;
	padding: 10px;
	font-family: "Orbitron";
}
.top_menu ul li:hover {
	cursor: hand;
}
.top_menu ul li a {
	color: #fff;
	text-decoration: none;
}

.menu_highlight {
	background: #D00505 !important;
	
}

#footer {
	background: #f8f8f8;
	height: 100px;
}

body {
	overflow: hidden !important;
}

.slide {
	color: #395B91;
	font-weight: bold;
	width: 500px;
	height: 200px;
	text-align: left;
}
h2 {
	margin: 20px;
}
#impress {

	height: 450px;
	position: relative;
	width: auto;
}
#wrap {
	min-height: 400px;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	width: 960px;
}

.step {
	width: 1200px;
	height: 600px;
	display: block;
	transition: opacity 1s;
}

#about_intro {
	width: 1100px;
	float: left;
	text-align: center;
	margin-top: 10px;
	color: #000;
	font-family: "Oswald";
	font-size: 90px;
	font-weight: bold;
	margin-top: 60px;
	/*line-height: 150px;*/
}
#about_intro .title3 img {
	margin-right: -35px;

}
#about_intro p{
	margin-top: 40px;
}
#about_intro .title2 img {
	width: 150px;
	height: 150px;
	border-radius: 130px;
	border: 10px solid #FFF;
	vertical-align: bottom;
}

.intro-title {
	font-size: 70px;
	margin: 150px 0;
	color: #000;
	font-weight: bold;
	text-align: left;
	padding-left: 50px;
	line-height: 80px;
	/*font-family: 'Arvo', sans-serif;*/
}
.intro-title span{
	color:red;
}
.past .intro-title {
	opacity: 0.1;
}
.future .intro-title {
	opacity: 0.1;
}
.active .intro-title {
	opacity: 1;
	/*text-transform: uppercase;*/
}
#about-past{
	padding:180px;
}
#about-past .tip{
	display:block;
	float: left;
	margin: 50px 20px 0 70px;
}
#about-past .title{
	font-weight: bolder;
	font-size: 80px;
	float: right;
	margin:170px 390px 0 0;
	vertical-align: middle;
	
}
.portfolio {
	background: #f8f8f8;
	height: 500px;
	margin: 10px 30px;
	width: 1100px;
}

.portfolio .small {
	display: none;
}

.portfolio-left {
	width: 650px;
	float: left;
	padding-top: 10px;
}
.portfolio-left img {
	border: 10px solid #FFF;
	outline: 2px solid #cfcfcf;
	margin: 20px;
}
.portfolio-right {
	width: 400px;
	float: left;
	margin: 40px 20px;
}

.project-title {
	border-bottom: 5px solid #CD2828;
	color: #000000;
	/*font-family: "Arvo";*/
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.project-site {

}

.project-desc {
	font-size: 25px;
	color: #4B4A4A;
	margin: 20px 0;
	line-height: 40px;
}

.timeline {

}

.timeline-panel {
	background: none repeat scroll 0 0 #0668AD;
	height: 500px;
	margin: 50px 10px;
	width: 295px;
	color: #fff;
	text-align: center;
	float: left;
	border-right: 5px solid #FFF;
}

.timeline .date {
	background: none repeat scroll 0 0 #3384DA;
	font-size: 60px;
	font-weight: bold;
	margin: 40px 40px 0;
	padding: 10px;
	border: 3px solid #fff;
}
.timeline .month {
	background: none repeat scroll 0 0 #3384DA;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}
.timeline .year {
	background: none repeat scroll 0 0 #3384DA;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}

#timeline_tracker {
	width: 960px;
	margin: auto;
	text-align: center;
	height: 100px;
}
#timeline_tracker span {
	width: 100px;
	padding: 10px;
	background: #eee;
	margin: 5px;
}

.year-highlight {
	background: #CFCFCF !important;
}

.services {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 10px solid #EAEAEA;
	height: 400px;
	width: 800px;
}

.service-desc {
	margin: 150px auto;
	font-size: 50px;
	font-family: "Arvo";
	color: #000;
	text-align: center;
	font-weight: bold;
}

#portfolio-overview {
	width: 1200px;
	
}

#services-overview .title {
	font-size: 100px;
	margin: 150px 10px;
	width: 1200px;
	text-align: center;
}

#services-overview .title .line1 {
	font-size: 100px;
	font-family: "Orbitron";
}
#services-overview .title .line2 {
	font-size: 50px;
	font-family: "Oswald";
}

.hint {
	background: none repeat scroll 0 0 rgba(207, 65, 65, 0.898);
	border-top: 3px solid #F8F8F8;
	bottom: 50;
	color: #FCFCFC;
	display: none;
	font-family: arvo;
	font-size: 50px;
	left: 0;
	opacity: 0;
	outline: 1px solid #EEEEEE;
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: center;
	transform: translateY(400px);
	transition: opacity 1s ease 0s, transform 0.5s ease 1s;
	z-index: 100;
}

.impress-enabled .hint {
	display: block;
}

.impress-on-about .hint {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 1s ease 1s, transform 0.5s ease 1s;
}

